* {
   box-sizing: border-box;
}

body {
	background-image: url(back.jpeg);
}

input {
	margin: 5px 0;
}

form {
	background-color: #fff;
	max-width: 800px;
	margin: 10px auto;
	padding: 10px;
	box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.error {
  border: 2px solid red;
  margin: 6px 0;
  padding: 0 3px;
}
.error-label { color:red;}
